In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
df_Players = pd.read_csv('Players.csv')
df_Players.sample(5)

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
563,2023,Amit Mishra,7,0,19,19,19,30,63.33,0,...,7,114,149,7,2/21,21.29,7.84,16.29,0,0
470,2021,KL Rahul,13,3,626,98*,62.6,451,138.8,0,...,13,0,0,0,0,0,0,0,0,0
713,2022,Jitesh Sharma,12,2,234,44,29.25,143,163.64,0,...,12,0,0,0,0,0,0,0,0,0
374,2018,Rinku Singh,4,0,29,16,7.25,31,93.54,0,...,4,0,0,0,0,0,0,0,0,0
1071,2018,Mayank Agarwal,11,1,120,30,12,94,127.65,0,...,11,0,0,0,0,0,0,0,0,0

In [69]:
df_Auction = pd.read_csv('Auction.csv')
df_Auction.sample(5)

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
556,556,Ottneil Baartman,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
514,514,Amit Ali,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold
298,298,Shivam Chauhan,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
271,271,Vasu Vats,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
449,449,M Nidheesh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold

In [57]:
df_Players.describe()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
count,1172,1172,1172,1172,1172,1172,1172,1172,1172,1172,...,1172,1172,1172,1172,1172,1172,1172,1172,1172,1172
unique,18,247,21,12,389,222,576,329,712,6,...,21,222,363,31,215,494,382,375,5,3
top,2023,Rohit Sharma,14,0,0,0,0,0,0,0,...,14,0,0,0,0,0,0,0,0,0
freq,162,17,170,421,179,148,171,131,127,1094,...,170,419,419,524,419,524,420,524,1052,1110

In [58]:
df_Auction.describe()

       Unnamed: 0  COST IN ₹ (CR.)  Cost IN $ (000)
count  633.000000       237.000000       237.000000
mean   316.000000         3.695781       480.451477
std    182.875641         4.238092       550.951945
min      0.000000         0.200000        26.000000
25%    158.000000         0.400000        52.000000
50%    316.000000         1.900000       247.000000
75%    474.000000         6.500000       845.000000
max    632.000000        17.000000      2210.000000

In [59]:
df_Players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172 entries, 0 to 1171
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1172 non-null   object
 1   Player_Name          1172 non-null   object
 2   Matches_Batted       1172 non-null   object
 3   Not_Outs             1172 non-null   object
 4   Runs_Scored          1172 non-null   object
 5   Highest_Score        1172 non-null   object
 6   Batting_Average      1172 non-null   object
 7   Balls_Faced          1172 non-null   object
 8   Batting_Strike_Rate  1172 non-null   object
 9   Centuries            1172 non-null   object
 10  Half_Centuries       1172 non-null   object
 11  Fours                1172 non-null   object
 12  Sixes                1172 non-null   object
 13  Catches_Taken        1172 non-null   object
 14  Stumpings            1172 non-null   object
 15  Matches_Bowled       1172 non-null   object
 16  Balls_Bowled         1172 non-null   object
 17  Runs_Conceded        1172 non-null   object
 18  Wickets_Taken        1172 non-null   object
 19  Best_Bowling_Match   1172 non-null   object
 20  Bowling_Average      1172 non-null   object
 21  Economy_Rate         1172 non-null   object
 22  Bowling_Strike_Rate  1172 non-null   object
 23  Four_Wicket_Hauls    1172 non-null   object
 24  Five_Wicket_Hauls    1172 non-null   object
dtypes: object(25)
memory usage: 229.0+ KB

In [60]:
df_Auction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       633 non-null    int64
 1   Player           633 non-null    object
 2   Base Price       633 non-null    object
 3   TYPE             633 non-null    object
 4   COST IN ₹ (CR.)  237 non-null    float64
 5   Cost IN $ (000)  237 non-null    float64
 6   2021 Squad       199 non-null    object
 7   Team             633 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 39.7+ KB

In [61]:
Type = df_Auction[['Player' , 'TYPE' , 'COST IN ₹ (CR.)']]

In [62]:
Type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           633 non-null    object
 1   TYPE             633 non-null    object
 2   COST IN ₹ (CR.)  237 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.0+ KB

In [63]:
print(Type)

                     Player         TYPE  COST IN ₹ (CR.)
0               Rashid Khan       BOWLER             15.0
1             Hardik Pandya  ALL-ROUNDER             15.0
2           Lockie Ferguson       BOWLER             10.0
3             Rahul Tewatia  ALL-ROUNDER              9.0
4              Shubman Gill       BATTER              8.0
..                      ...          ...              ...
628            Sairaj Patil       BATTER              NaN
629              Monu Singh       BOWLER              NaN
630  Nivethan Radhakrishnan       BOWLER              NaN
631            Lance Morris       BOWLER              NaN
632            Aaron Hardie  ALL-ROUNDER              NaN

[633 rows x 3 columns]

In [68]:
df_Players_2022 = df_Players[df_Players['Year']=='2022']
df_Players_2022.sample()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
507,2022,Deepak Hooda,15,0,451,59,32.21,330,136.67,0,...,15,24,43,1,1/31,43.00,10.75,24.00,0,0

In [74]:
batsmen = df_Auction[df_Auction['TYPE'] == 'BATTER']
batsmen.sample()

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
482,482,Bhupen Lalwani,20 Lakh,BATTER,NaN,NaN,NaN,Unsold

TypeError: merge() missing 1 required positional argument: 'right'